<app-header (navEvent)="handleNavEvent($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="this.pageDisplayed === this.recipes"></app-recipes>
      <app-shopping-list *ngIf="this.pageDisplayed === this.shoppingList"></app-shopping-list>
    </div>
  </div>
  <!-- <p appHighlight>green</p>
  <p appBetterHightlight defualtColor="yellow" highlightColor="red">directive test</p> -->
  <div *appUnless="true">unless shouldn't see</div>
  <div *appUnless="false">unless works</div>


</div>
